/* ContactForm.css */

.contact-form {
    background-color: #ffffff; /* Blanco */
    text-align: center;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .contact-form form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #003366; /* Azul oscuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #002244; /* Azul más oscuro */
  }
  