/* Footer.css */

.footer {
    background-color: #003366; /* Azul oscuro */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 1em;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  .footer .social-links a {
    margin: 0 10px;
    color: #fff;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }
  