/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #003366; /* Azul oscuro */
    position: fixed;
    width: 100%;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: none;
    border-bottom: aliceblue solid 3px;
  }
  