/* Services.css */

.services {
    background-color: aliceblue; /* Gris claro */
    text-align: center;
  }
  
  .services h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .services p {
    font-size: 1.1em;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
  }
  
  img {
    height: 20em;
    width: 20em;
  }

  .contenedor-tarjetas
  {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
    background-color: aliceblue;
    width: 100%;
    align-content: center;

  }

  .card
  {
      width: 1fr;
  }

  .azul
  {
    border:5px solid blue;
    background-repeat: none;
    background-size: cover;
    border-radius: 5%;

  }